{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}Admin Dashboard
{% endblock %}

{% block content %}
	<div class="container py-4">
		<p>Welcome, super admin. Use the sidebar to manage resources.</p>
		<div class="mt-4">
			<a href="{{ path('admin_user_wizard', { step: 1 }) }}" class="btn btn-primary">
				Start User Creation Wizard
			</a>
		</div>
	</div>
{% endblock %}
